#container {
    width: 400px;
    height: 200px;
    border: solid black;
}

#left {
    width: 200px;
    height: 100px;
    background: red;
    float: left;
}

#right {
    width: 200px;
    height: 100px;
    background: yellow;
    float: left;
}

#footer {
    width: 400px;
    height: 100px;
    background: blue;
    clear: both;
}